<!DOCTYPE html>
<html>
    <body>
        <h1>Willkommen im Parkhaus</h1>
        </br>
        </br>
        <form action = "http://localhost:4698/project_main" method = "post">
            <p>Bitte geben Sie Ihr Kennzeichen ein</p>
            <p><input type = "text" name = "licenseplate" /></p>
            <p>
                <input type = "submit" value = "Einfahrt" name="drivein"/>
                <input type = "submit" value = "Ausfahrt" name="driveout"/>
            </p>
        </form>
    </body>
</html>