<!DOCTYPE html>
<html>
    <body>
        <h1>Willkommen im Parkhaus</h1>
        </br>
        </br>
        <form action = "http://localhost:4698/project_drivein" method = "post">
            <p>Sie sind bislang noch nicht bei uns registriert, 
                möchten Sie eine Dauerkarte erwerben oder ein Einzelticket?</p>
            <p>
                <input type = "submit" value = "Dauerkarte" name="card"/>
                <input type = "submit" value = "Einzelticket" name="ticket"/>
            </p>
        </form>
    </body>
</html>